@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;400;500;600;700;900&display=swap");
.cover {
  background-color: white;
}
.main {
  width: 100vh;
  background-image: url("/public/FIX\ BG\ HERO.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-image: url(../../public/assets/landingpage/NAVFIX.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav_first {
  width: 10%;
  margin-left: 50px;
}
.nav_third {
  margin-right: 60px;
}
.navbar > ul {
  display: flex;
}
.navbar > ul > li {
  list-style-type: none;
}

.navbar > ul > li > a {
  margin-left: 30px;
  font-weight: 500;
  color: rgba(193, 193, 193, 1);
  cursor: pointer;
  text-decoration: none;
}

.nav_second > li > a:hover {
  color: rgba(0, 132, 254, 1);
}

.sign_in {
  color: white;
}
.register {
  color: rgba(0, 132, 254, 1);
  background-color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  background-image: url(../../public/assets/landingpage/FIX\ BG\ HERO.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header > h1 {
  font-size: 60px;
  letter-spacing: 2.5px;

  line-height: 85px;
}
.header > p {
  color: rgba(139, 147, 162, 1);
  margin-top: 30px;
  font-size: 16px;
}

.button {
  margin-top: 60px;
}
.button > .get_started {
  font-weight: 600;
  background-color: rgba(0, 132, 254, 1);
  padding: 20px 50px 20px 50px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
.button > .get_started:hover {
  background-color: rgb(0, 76, 147);
  transition: all 0.2s ease-in-out;
}
.hero_2 {
  display: flex;
  gap: 50px;
  margin-top: 60px;
}
.hero_21 {
  text-align: center;
}
.hero_21 > h1 {
  font-size: 37px;
}
.hero_21 > p {
  font-weight: 500;
}

.testimonial {
  margin-top: 50px;
}

.program {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  height: 400px;
}
.program > h1 {
  text-align: center;
  font-weight: 600;
  font-size: 47px;
}
.program > p {
  text-align: center;
  color: rgba(139, 147, 162, 1);
  margin-top: 10px;
  font-size: 16px;
}
.program_container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 130px;
  flex-direction: row;
}
.program_child {
  align-items: center;
  margin-top: 60px;
}
.program_child > img {
  width: 337px;
  height: 268px;
}
.program_child > h1 {
  text-align: center;
  font-size: 29px;
  font-weight: 600;
  margin-top: 20px;
}

.program_child > p {
  text-align: center;
  margin-top: 20px;
}

.program_tambahan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.program_tambahan_01 {
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center;
  margin-top: 20px;
}
.program_tambahan_01 > p {
  margin-left: 20px;
}

.gambar1 {
  height: 30px;
}
.gambar2 {
  height: 30px;
  margin-top: 18px;
}

.university {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -150px;
}
.university > .header {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
}
.university > img {
  margin-top: 50px;
  width: 80%;
}
.clefooter {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.container_1 {
  display: flex;
  height: 350px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
}
.c_01 {
  display: flex;
  width: 300px;
  flex-direction: column;
}
.c_01 > img {
  width: 50%;
}
.c_01 > p {
  margin-top: 25px;
  color: rgba(139, 147, 162, 1);
  font-weight: 500;
  line-height: 25px;
}
.c_02 {
  width: 500px;
}
.c_02 > p {
  font-weight: 700;
}
.c_02_navigation {
  margin-top: 25px;
}

.c_02_navigation > ul > li {
  text-decoration: none;
  list-style-type: none;
  margin-top: 15px;
}
.c_02_navigation > ul > li > a {
  color: rgba(139, 147, 162, 1);
  cursor: pointer;
  font-weight: 500;
}

.ul_2 {
  margin-left: 50px;
}
.c_03 {
  width: 300px;
}
.c_03 > p {
  font-weight: 700;
}

.c_03 > ul > li > a {
  color: rgba(139, 147, 162, 1);
  cursor: pointer;
  font-weight: 500;
}
.menu_ul {
  margin-top: 25px;
}
.menu_ul > li {
  margin-top: 15px;
}
.c_03 > ul > li {
  text-decoration: none;
  list-style-type: none;
}
.c_04 {
  width: 300px;
}
.grey {
  color: rgba(139, 147, 162, 1);
  font-weight: 500;
}
.contact_p {
  font-weight: 700;
}

.contact_navigation {
  margin-top: 25px;
}

.contact_navigation > p {
  margin-top: 15px;
  cursor: pointer;
}
.c_02_navigation {
  display: flex;
  flex-direction: row;
}
.container_2 {
  display: flex;
  height: 60px;
  color: white;
  background-color: rgba(0, 86, 184, 1);
  justify-content: center;
  align-items: center;
}
.container_2 > p {
  text-align: center;
  font-weight: 500;
}
.blue {
  color: rgba(0, 132, 254, 1);
  font-weight: 500;
}
.benefit {
  display: flex;
  background-image: url(../../public/assets/landingpage/Component\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
  margin-top: 350px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header_benefit {
  color: white;
  font-size: 48px;
  margin-top: -150px;
  margin-right: 50px;
}
.profiles {
  width: 498.4px;
  height: 570px;
  margin-bottom: 100px;
}
.content_benefit {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  align-items: center;
}
.content_benefit > img {
  width: 10%;
}
.content_benefit > h1 {
  color: white;
  font-size: 32px;
}
.bg_tambahan {
  height: 300px;
  background-image: url(../../public/assets/landingpage/Footer\ .png);
  background-size: cover;
  margin-top: -100px;
}

.logo_contact {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.logo_contact > img {
  width: 20%;
  margin-top: 20px;
}
